    <section class="" style="position: relative;background: #fff;padding-bottom: 0px;">
        <div style="text-align:center;" class="myrow">
            <div class="section-title">Mission</div>
            <div class="section-subtitle"><p style="width: 800px;margin: 0 auto;">Removing worries for clients who require security guards for their buildings, facilities, and events by providing excellent customer service for clients and in-depth training for their employees.</p></div>
            <!--                    One of the foundations upon which we have built our business is our commitment to service excellence and our customers’ needs are our highest priority.
                            We have recognised the need to develop more specialised teams who would have the advantage of understanding a niche market sector, thereby making them more effective in their service delivery. This is one of the many reasons, that we are making huge inroads in a very competitive environment.-->
        </div>
    </section>

    <section class="myrow qualities" style="border-top: 1px solid #E6E6E6;padding-top: 60px;text-align: justify;">
        <p>Empire Security Services is an established, reliable Security Company to provide the Ultimate Security combined with Excellent Customer Service. We are extremely passionate about what we do. We continually strive to ensure that the service we provide is a cut above the rest.</p>
        <p>At Empire Security Services, we see ourselves as business partners, not merely service providers. Client Service is one of the core values of our company. It’s what gives us our cutting edge and a measurable point of difference. Our Operations and Management teams are the leaders driving the overall performance of our team.</p>
        <p>With a management team comprising some of the country’s most experienced security experts, Empire Service Group has the flexibility to meet your unique requirements and the capacity to give you its undivided attention.</p>
        <p>Clients of every size and from every sector trust Empire Service Group to protect their premises, property and people. Each knows we have the strength, knowledge and services necessary to help them reduce risks, save money and focus on their core businesses.</p>
        <p>Empire Security Services regards itself as a specialist Security Provider. We have recognized the need to develop more specialized teams who would have the advantage of understanding a niche market sector, thereby making them more effective in their service delivery. This is one of the many reasons, that we are making huge inroads in a very competitive environment.</p>
        <p>There is no doubt that with the proper procedures, strong Service and Operations management in place and constant management support from senior managers, that your site can be managed effectively. It is our belief that we have the potential and ability for this.</p>
        <p>Empire Security Services believes that with experience and hands on personalized service, we build partnerships with our clients rather than just being security providers. We would like to develop that partnership with your company, and trust that the information provided meets with your approval requirement.</p>
    </section>
    <section style="background: #F8F8F9;border-bottom: 1px solid #C7C7C7;">
        <div class="myrow">
            <div style="text-align:center;">
                <div class="section-title">What our clients are saying</div>
                <div class="section-subtitle">ASIAL is the largest security industry Association representing the security industry in Australia.</div>
                <div class="row learn indented marginBottom100" style="border-top: 1px solid #E6E6E6;">
                    <ul class="clearfix testinomial">
                        <li>
                            <div class="quote" style="min-height: 130px;">We used empire security for birthday party and their security team took extra care to maintain a friendly environment throughout the event.</div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                            <div>
                                <ul class="testinomialPeople clearfix">
                                    <li class="">
                                        <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                            <img src="@Url.Content("~/Images/TestimonalFace1.png")" style="width: 60px;height: 60px;">
                                        </span>
                                        <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                            Vanessa
                                            <div style="font-weight: normal;color: #8c989e;">Student</div>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="quote">Their service is excellent and all their staff are courteous and conscientious in carrying out their duties.Personnel are punctual and provide us with the excellent report. </div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                            <div>
                                <ul class="testinomialPeople clearfix">
                                    <li class="">
                                        <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                            <img src="@Url.Content("~/Images/TestimonalFace2.png")" style="width: 60px;height: 60px;">
                                        </span>
                                        <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                            Sonika Kaliraman
                                            <div style="font-weight: normal;color: #8c989e;">Accountant</div>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="quote">We are very satisfied with the level of care and professional services they have providing and we will continue to use Empire Security Services on further events.</div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                            <div>
                                <ul class="testinomialPeople clearfix">
                                    <li class="">
                                        <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                            <img src="@Url.Content("~/Images/TestimonalFace3.png")" style="width: 60px;height: 60px;">
                                        </span>
                                        <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                            Javad Babaei
                                            <div style="font-weight: normal;color: #8c989e;">Information Technology</div>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="myrow">
        <div style="text-align:center;">
            <div class="section-title">Verified by security Associations in Australia</div>
            <div class="section-subtitle">ASIAL is the largest security industry Association representing the security industry in Australia.</div>
            <div id="fred_container">
                <div class="caroufredsel_wrapper">
                    <ul class="fredSel clearfix" style="text-align:center;padding: 0;">
                        <li style="width: 214px;margin: 0 auto;"><img style="height: 120px;" src="@Url.Content("~/Images/Asial_Logo.png")"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>