<section class="" style="position: relative;background: #fff;padding-bottom: 0px;">
    <div style="text-align:center;" class="myrow">
        <div class="section-title">Providing Prestige, Top Quality Security Solutions</div>
        <div class="section-subtitle">We are dedicated to providing safe, reliable and efficient means of protecting people and property.</div>
        <!--                    One of the foundations upon which we have built our business is our commitment to service excellence and our customers’ needs are our highest priority.
                        We have recognised the need to develop more specialised teams who would have the advantage of understanding a niche market sector, thereby making them more effective in their service delivery. This is one of the many reasons, that we are making huge inroads in a very competitive environment.-->
    </div>
</section>
<section class="myrow qualities" style="border-top: 1px solid #E6E6E6;padding-top: 30px;">
    <div style="margin: 0 auto;width: 990px;" class="clearfix">
        <div class="five fl" style="margin-bottom: 40px;margin-right: 70px;">
            <div class="fl one" style="width: 86px;">
                <img class="so-box-img fr" src="@Url.Content("~/Images/outstanding-services.png")" alt="Outstanding services">
            </div>
            <div class="fit fl four" style="width: 325.6666px !important;">
                <h4>Outstanding Service</h4>
                <p>We see ourselves as business partners, not merely service providers. Client Service is one of the core values of our company. </p>
            </div>
        </div>
        <div class="five fl" style="margin-bottom: 40px;">
            <div class="fl one" style="width: 86px;">
                <img style="border-radius: 10px;width: 74px;height: 101px" class="so-box-img fr" src="@Url.Content("~/Images/security.png")" alt="">
            </div>
            <div class="fit fl four" style="width: 325.6666px !important;">
                <h4>Company Staff</h4>
                <p>All Company staff assigned to our client’s sites is fully trained to fulfil a vital role in the service required by our client.</p>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="five fl" style="margin-bottom: 40px;margin-right: 70px;">
            <div class="fl one" style="width: 86px;">
                <img class="so-box-img fr" src="@Url.Content("~/Images/client-needs.png")" alt="">
            </div>
            <div class="fit fl four" style="width: 325.6666px !important;">
                <h4>Client Needs</h4>
                <p>Prior to commencing our service, we will liaise with the client to identify and discuss individual needs. </p>
            </div>
        </div>
        <div class="five" style="float: left">
            <div class="fl one" style="width: 86px;">
                <img style="border-radius: 10px;width: 74px;height: 101px" class="so-box-img fr" src="@Url.Content("~/Images/super_security.png")" alt="">
            </div>
            <div class="fit fl four" style="width: 325.6666px !important;">
                <h4>Super Security</h4>
                <p>We will remove worries for clients who require security guards for their buildings, facilities, and events.</p>
            </div>
        </div>
    </div>
</section>
<section id="section-twitter" style="background: #2D3F51;text-align: center;">
    <div class="div-twitter">
        <div class="mid">
            <div id="tweet_fader_widget-2" class="widget-wrapper widget_tweet_fader_widget">
                <h3 class="widget-title" style="font-size: 1.75em;color: #FFF;line-height: 125%;font-weight: normal;padding: 0;width: 100%;">We are hiring, <a href="@Url.Action("Career","Home")" style="color:#1ABC9C;text-decoration: none;">apply now!</a></h3>
                <div id="tweets">
                    <p class="tweet_1qvH" style="opacity: 1; display: none;"><br><span>10 hours ago</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="text-align: center;background: #ECF0F1;">
    <div class="myrow">
        <div class="mid" style="">
            <div id="section-two-tabs">
                <ul id="tab-nav" class="tabs-menu">
                    <li class="current"><a href="#tab-1" class="currentSelect">Mobile Patrolling</a></li>
                    <li class=""><a href="#tab-2" class="">Static Guard</a></li>
                    <li class=""><a href="#tab-3" class="">Crowd Control</a></li>
                    <li><a href="#tab-4">Construction Site</a></li>
                </ul>
                <div id="tab-container" style="height: 475px;">
                    <div class="tab">
                        <div id="tab-1" class="tab tab-content" style="display: none;">
                            <div class="four fl">
                                <h2 style="text-align: left;">Night-time surveillance</h2>
                                <div class="entry">
                                    <ul style="text-align: left;">
                                        <li>Patrol areas, check for unauthorised entry</li>
                                        <li>Watch for irregularities</li>
                                        <li>Record times of inspections</li>
                                        <li>Check and respond to alarms</li>
                                        <li>Provide armed escort</li>
                                        <li>Observe and report suspects to police</li>
                                        <li>Check travellers and their hand luggage</li>
                                    </ul>
                                    <p style="text-align: left;"><a style="color: inherit;text-decoration: none;" href="@Url.Action("Services","Home")">Learn more</a></p>
                                </div>
                            </div>
                            <div class="eight fl">
                                <img style="width: 100%;" src="@Url.Content("~/Images/financial_solutions-1.jpg")">
                            </div>
                        </div>
                        <div id="tab-2" class="tab tab-content" style="display: none;">
                            <div class="four fl">
                                <h2 style="text-align: left;">Static guards services</h2>
                                <div class="entry">
                                    <ul style="text-align: left;">
                                        <li>Entry gate operation and access control</li>
                                        <li>Identity Verification</li>
                                        <li>Vehicle inspection</li>
                                        <li>Anti-sabotage checks</li>
                                        <li>Security of materials</li>
                                        <li>Materials movement control</li>
                                        <li>Guarding of vital installations</li>
                                    </ul>
                                    <p style="text-align: left;"><a style="color: inherit;text-decoration: none;" href="@Url.Action("Services","Home")">Learn more</a></p>
                                </div>
                            </div>
                            <div class="eight fl">
                                <img style="width: 100%;" src="@Url.Content("~/Images/public_sector.jpg")">
                            </div>
                        </div>

                        <div id="tab-3" class="tab tab-content" style="display: none;">
                            <div class="four fl">
                                <h2 style="text-align: left;">Security and crowd control</h2>
                                <div class="entry">
                                    <ul style="text-align: left;">
                                        <li>Monitor all patrons entering the premises</li>
                                        <li>Accept the approved form of identification </li>
                                        <li>Conducting a count of patrons</li>
                                        <li>Ensure patrons meet the dress standards</li>
                                        <li>Security of materials</li>
                                        <li>Materials movement control</li>
                                        <li>Check travellers and their hand luggage</li>
                                    </ul>
                                    <p style="text-align: left;"><a style="color: inherit;text-decoration: none;" href="@Url.Action("Services","Home")">Learn more</a></p>
                                </div>
                            </div>
                            <div class="eight fl">
                                <img style="width: 100%;" src="@Url.Content("~/Images/financial_solutions.jpg")">
                            </div>
                        </div>
                        <div id="tab-4" class="tab tab-content" style="display: block;">
                            <div class="four fl">
                                <h2 style="text-align: left;">Construction site</h2>
                                <div class="entry">
                                    <ul style="text-align: left;">
                                        <li>Know your customer forms</li>
                                        <li>Quotes and proposals</li>
                                        <li>Statements of advice</li>
                                        <li>Regulatory reporting</li>
                                        <li>Employment contracts</li>
                                        <li>Financial statements</li>
                                        <li>Loan applications</li>
                                    </ul>
                                    <p style="text-align: left;"><a style="color: inherit;text-decoration: none;" href="@Url.Action("Service","Home")">Learn more</a></p>
                                </div>
                            </div>
                            <div class="eight fl">
                                <img style="width: 100%;" src="@Url.Content("~/Images/trade_manufacturing.jpg")">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background: #F8F8F9;border-bottom: 1px solid #C7C7C7;">
    <div class="myrow">
        <div style="text-align:center;">
            <div class="section-title">What our clients are saying</div>
            <div class="section-subtitle">ASIAL is the largest security industry Association representing the security industry in Australia.</div>
            <div class="row learn indented marginBottom100" style="border-top: 1px solid #E6E6E6;">
                <ul class="clearfix testinomial">
                    <li>
                        <div class="quote" style="min-height: 130px;">We used empire security for birthday party and their security team took extra care to maintain a friendly environment throughout the event.</div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                        <div>
                            <ul class="testinomialPeople clearfix">
                                <li class="">
                                    <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                        <img src="@Url.Content("~/Images/TestimonalFace1.png")" style="width: 60px;height: 60px;">
                                    </span>
                                    <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                        Vanessa
                                        <div style="font-weight: normal;color: #8c989e;">Student</div>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="quote">Their service is excellent and all their staff are courteous and conscientious in carrying out their duties.Personnel are punctual and provide us with the excellent report. </div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                        <div>
                            <ul class="testinomialPeople clearfix">
                                <li class="">
                                    <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                        <img src="@Url.Content("~/Images/TestimonalFace2.png")" style="width: 60px;height: 60px;">
                                    </span>
                                    <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                        Sonika Kaliraman
                                        <div style="font-weight: normal;color: #8c989e;">Accountant</div>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="quote">We are very satisfied with the level of care and professional services they have providing and we will continue to use Empire Security Services on further events.</div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                        <div>
                            <ul class="testinomialPeople clearfix">
                                <li class="">
                                    <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                        <img src="@Url.Content("~/Images/TestimonalFace3.png")" style="width: 60px;height: 60px;">
                                    </span>
                                    <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                        Javad Babaei
                                        <div style="font-weight: normal;color: #8c989e;">Information Technology</div>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="myrow">
    <div style="text-align:center;">
        <div class="section-title">Verified by security Associations in Australia</div>
        <div class="section-subtitle">ASIAL is the largest security industry Association representing the security industry in Australia.</div>
        <div id="fred_container">
            <div class="caroufredsel_wrapper">
                <ul class="fredSel clearfix" style="text-align:center;padding: 0px;">
                    <li style="width: 214px;margin: 0 auto;"><img style="height: 120px;" src="@Url.Content("~/Images/Asial_Logo.png")"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="section-twitter" style="background: #2D3F51;text-align: center;">
    <div class="div-twitter">
        <div class="mid">
            <span id="random-load">
                <span class="h4" style="display: inline;font-size: 30px;color: #FFF;font-weight: 400;">Reduce risk and improve compliance</span>
            </span>
            <a href="@Url.Action("Contact","Home")" class="promolink">GET IN TOUCH</a>
        </div>
    </div>
</section>