    <div style="background: #ECF0F1;">
        <div class="section myrow" style="padding-top:0px;padding-bottom:0px;">
            <div class="mid">
                <h1 style="font-weight: normal">Services</h1>
                <h3 style="font-weight: normal">Let us help you find effective solutions</h3>
            </div>
        </div>
    </div>
    <div class="section myrow" style="padding-top: 0px;">
        <div class="clearfix">
            <h2 class="ind1 textCenterAlign" style="border-bottom: 1px solid #E6E6E6;padding-top: 0px;padding-bottom: 15px;margin:0px;">Services</h2>
            <div class="myrow">
                <div class="textCenterAlign padBottom20" style="text-align: justify">
                    <p>Empire Security Services has extensive experience in the provision of all types of security services and has demonstrated its ability to supply and work alongside some of Australia’s best known companies and industry leaders. We aim to be a “One Stop Shop” for all the security needs of our Clients.</p>
                    <strong>Empire Security Services provides a range of services tailored to suit your business needs, and they include:</strong><br><br><br>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/static_guard.png")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Static Guard</h3><p>We understand that Security Officers are often the first point of contact in many situations within a client site, therefore, we have developed a selection and training program that is customer service specific.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/crowd_control.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Crowd Control</h3><p>Our teams are trained to make an event secure, which in turns adds to the experience for visitors and guests.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/mobile-patrol.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Mobile Patrolling</h3><p>Empire Security Services can provide mobile security patrols to suit your specific needs whether you require individual random security checks or a dedicated mobile security patrol officer. Our patrolman are equipped with an Electronic Verification System, this system ensures that we conform to our clients requirements and provides supporting documentation should the need arise.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/event-security.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Event Security</h3><p>Empire Security can provide your business with suitably qualified and trained personnel for Special events to ensure that your corporate function remains safe and secure in the best interest of your company and staff.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/bday.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Birthday Parties</h3><p>if you need crowd control or a doorman for your next party we protect your guests and event by providing our professional security guard.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/constructionsecurity.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Construction site Security</h3><p>Your site will be supplied with security warning boards, rigid boards or stickers, as part of our service. Different warning notices, denoting for example the presence of guard-dogs, a 'Stop and Search' policy, can also be displayed on request.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/24hr.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">24 HRS emergency</h3><p>Empire Security can supply personnel in an emergency situation in the event that your business is placed at risk due to unforeseen circumstances.</p></div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 20px;">
                        <div class="four fl" style="padding-left: 35px;"><img src="@Url.Content("~/Images/loss.jpg")" alt="" width="250" height="166" border="0" hspace="0" vspace="0"></div>
                        <div class="eight fr"><h3 style="font-weight: normal;padding-top: 0;margin-top: 0px;">Loss Prevention</h3><p>At Empire Security we understand the importance of being the face of each business, while providing outstanding communication and customer service.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section style="background: #F8F8F9;border-bottom: 1px solid #C7C7C7;">
        <div class="myrow">
            <div style="text-align:center;">
                <div class="section-title">What our clients are saying</div>
                <div class="section-subtitle">ASIAL is the largest security industry Association representing the security industry in Australia.</div>
                <div class="row learn indented marginBottom100" style="border-top: 1px solid #E6E6E6;">
                    <ul class="clearfix testinomial">
                        <li>
                            <div class="quote" style="min-height: 130px;">We used empire security for birthday party and their security team took extra care to maintain a friendly environment throughout the event.</div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                            <div>
                                <ul class="testinomialPeople clearfix">
                                    <li class="">
                                        <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                            <img src="@Url.Content("~/Images/TestimonalFace1.png")" style="width: 60px;height: 60px;">
                                        </span>
                                        <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                            Vanessa
                                            <div style="font-weight: normal;color: #8c989e;">Student</div>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="quote">Their service is excellent and all their staff are courteous and conscientious in carrying out their duties.Personnel are punctual and provide us with the excellent report. </div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                            <div>
                                <ul class="testinomialPeople clearfix">
                                    <li class="">
                                        <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                            <img src="@Url.Content("~/Images/TestimonalFace2.png")" style="width: 60px;height: 60px;">
                                        </span>
                                        <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                            Sonika Kaliraman
                                            <div style="font-weight: normal;color: #8c989e;">Accountant</div>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="quote">We are very satisfied with the level of care and professional services they have providing and we will continue to use Empire Security Services on further events.</div><img src="@Url.Content("~/Images/testimonial_bottom_light.png")">
                            <div>
                                <ul class="testinomialPeople clearfix">
                                    <li class="">
                                        <span class="fl" style="vertical-align: middle;margin-right: 20px;">
                                            <img src="@Url.Content("~/Images/TestimonalFace3.png")" style="width: 60px;height: 60px;">
                                        </span>
                                        <h4 class="fl" style="padding: 0;vertical-align: middle;font-size:16px;color:#384047;font-weight:bold;">
                                            Javad Babaei
                                            <div style="font-weight: normal;color: #8c989e;">Information Technology</div>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="myrow">
        <div style="text-align:center;">
            <div class="section-title">Verified by security Associations in Australia</div>
            <div class="section-subtitle">ASIAL is the largest security industry Association representing the security industry in Australia.</div>
            <div id="fred_container">
                <div class="caroufredsel_wrapper">
                    <ul class="fredSel clearfix" style="text-align:center;padding: 0;">
                        <li style="width: 214px;margin: 0 auto;"><img style="height: 120px;" src="@Url.Content("~/Images/Asial_Logo.png")"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>