<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-uaCompatibility" http-equiv="X-UA-Compatible" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/skypejs")
    @Scripts.Render("~/bundles/jquerui")
    <script type="text/javascript">
    function slideSwitch() {
        var $active = $('#slideshow IMG.active');
        if ($active.length == 0) $active = $('#slideshow IMG:last');
        var $next = $active.next().length ? $active.next()
			: $('#slideshow IMG:first');
        $active.addClass('last-active');

        $next.css({ opacity: 0.0 })
			.addClass('active')
			.animate({ opacity: 1.0 }, 1000, function () {
			    $active.removeClass('active last-active');
			});
        var activeIndex = $('#slideshow IMG.active').attr("data-index-val");
        if (activeIndex == 2) {
            $('#banner .banner_text h2').text('Our Clients Are At The Center Of What We Do').css({"padding-top":"2px;"});
        }
        else {
            $('#banner .banner_text h2').text('Securing Your Bussiness is Our Bussiness');
        }
    }
    $(function () {
        setInterval("slideSwitch()", 5000);
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });

        $(function () {
            $('.navigation ul li a').click(function () {
                //debugger;
                //$('.navigation ul li a').removeClass('active');
                //$(this).addClass('active');
            });
        });

    </script>
</head>
<body>
    <div id="container">
        <div class="menu">
            <div class="navigation">
                <ul id="nav-one">
                    <li>
                        <a class="active" href="@Url.Action("Index","Home")">HOME</a>
                        <audio id="beep-one" controls preload="auto">
                            <source src="audio/beep.mp3">
                            <source src="audio/beep.ogg">
                            Your browser isn't invited for super fun time.
                        </audio>
                    </li>
                    <li><a href="@Url.Action("About","Home")">ABOUT US</a></li>
                    <li><a href="@Url.Action("Career","Home")">CAREER</a></li>
                    <li><a href="@Url.Action("Services","Home")">SERVICES</a></li>
                    <li><a href="@Url.Action("StretgySummary", "Home")">STRATRGY &amp; SUMMARY</a></li>
                    <li><a href="@Url.Action("Contact","Home")">CONTACT US</a></li>
                </ul>
                <script>
var beepOne = $("#beep-one")[0];
    $("#nav-one a")
        .mouseenter(function () {
            beepOne.play();
        });
                </script>
               </div>
        </div>
        <div id="header">
            <div class="header">
                <div class="logo"><a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/images/ESSLOGO2.png")" alt="" /></a></div> 

            </div>
        </div>
        <div id="slideshow">
            <img src="~/images/security_cover.jpg" alt="Slideshow Image 1" class="active"  data-index-val="1"/>
            <img src="~/images/security_cover2.jpg" alt="Slideshow Image 2" data-index-val="2" />
            <img src="~/images/security_cover3.jpg" alt="Slideshow Image 3" data-index-val="3" />
            <img src="~/images/security_cover4.jpg" alt="Slideshow Image 4" data-index-val="4" />
        </div>
        <div id="banner">
            <div class="banner_text">
                <h2>Securing Your Business is Our Business</h2>
                <p>We pride ourselves on being very different from standard security providers. The difference is in the quality of the people we employ.</p>
                <a href="@Url.Action("About","Home")"><i>More Info</i><i class="active">+</i></a>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>

        <div id="bottom_area">
            <div class="bottom_area">
                <h2>What our clients are saying</h2>
                    <div class="client_box">
                    <div class="pix"><img src="~/images/TestimonalFace1.png" alt="" /></div>
                    <div class="heading"><h2>Vanessa</h2><p>Student</p></div>
                    <div class="text">We used empire security for birthday party and their security team took extra care to maintain a friendly environment throughout the event.</div>
                </div>
                <div class="client_box">
                    <div class="pix"><img src="~/images/TestimonalFace2.png" alt="" /></div>
                    <div class="heading"><h2>Sonika Kaliraman</h2><p>Accountant</p></div>
                    <div class="text">Their service is excellent and all their staff are courteous and conscientious in carrying out their duties.Personnel are punctual and provide us with the excellent report.</div>
                </div>
                <div class="client_box">
                    <div class="pix"><img src="~/images/TestimonalFace3.png" alt="" /></div>
                    <div class="heading"><h2>Javad Babaei</h2><p>Information Technology</p></div>
                    <div class="text">We are very satisfied with the level of care and professional services they have providing and we will continue to use Empire Security Services on further events.</div>
                </div>

            </div>
        </div>

        <div id="last_footer">
            <div class="last_footer">
                <strong>Verified by security Associations in Australia</strong>
                <p>ASIAL is the largest security industry Association representing the security industry in Australia.</p>
                <div class="contact1">
                    <b>PO Box 467, Kippax, ACT 2615</b><br />
                    <b>Phone:</b> +61426479711, +61425454253<br />
                    <b>Email:</b> info@empiresecurityservices.com.au<br />
                    <b>Fax:</b> +61(0)261470365<br />
                    <b>ABN:</b> 75601706156<br />
                    <b>ACT MASTER LICENSE:</b> 17502305
                </div>
                <div class="contact2"><a href="#"><img src="~/images/map.png" alt="" /></a></div>
            </div>
        </div>
        <div id="footer">
            <div class="footer">
                <p>EMPIRE SECURITY SERVICES © @DateTime.Now.Year All rights reserved</p>
                <ul>
                    <li><a href="https://www.facebook.com/EssActCanberra" target="_blank" title="Facebook"><img src="~/images/social/facebook.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/social/twitter.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/social/googleplus.png" alt="" /></a></li>
                    <li><a href="#"><img src="~/images/social/linkedin.png" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var beepOne = $("#beep-one")[0];
    $("#nav-one a")
        .mouseenter(function () {
            beepOne.play();
        });
</script>